<div class="col-10 offset-1">
  <h1> About Me</h1>
  <p>

  </p>
  <br />
  <p>

  </p>
  <p>
        If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class= "row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'caitlin.PNG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Caitlin LaCour</h2>
      <br />
      <p>
        Caitlin LaCour is an English student and writer, currently on third year of college. She also has a YouTube channel where she rarely uploads music videos she edits in her spare time. She hates writing about herself in third-person. She hates Popeyes Cheddar Biscuit Butterfly Shrimp even more.</p>
    </div>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />



</div>